{
email admin@bitcraftmap.com
}

api.bitcraftmap.com {

log {
output file /var/log/caddy/api.access.log {
roll_size 500MiB
roll_keep 5
}
}

@preflight {
method OPTIONS
path /*
}
handle @preflight {
header {
Access-Control-Allow-Origin  https://bitcraftmap.com
Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Access-Control-Allow-Headers "Content-Type, Authorization"
Access-Control-Max-Age 600
Vary Origin
}
respond "" 204
}

handle {
header {
Access-Control-Allow-Origin  https://bitcraftmap.com
Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Access-Control-Allow-Headers "Content-Type, Authorization"
Vary Origin
}
reverse_proxy 127.0.0.1:9000
}
}